---
title: Frontend Pictogenda
---
<section class="topbar">
	<article class="timebar">
		<div class="current_time_analogue">
			<ul class="analogue_clock template">
				<li class="hour"></li>
				<li class="minute"></li>
				<li class="second"></li>
			</ul>
		</div>
		<div class="current_time_digital">
			<div class="digital_clock template">
				<div class="hour"></div>
				<div class="minute"></div>
				<div class="second"></div>
			</div>
		</div>
	</article>
	<article class="clients">
		<ul class="client_list">
			<li class="template">
				<a href="#" id="" class="client_link">
					<img src="" title="" class="client_list_avatar">
				</a>
				<span class="client_name"></span>
			</li>
		</ul>
	</article>
</section>
<section class="preloader">
	LADEN!
</section>
<section class="activities_holder">
	<section class="activity_list">
		<div class="activity template">
			<div class="client_list_for_activity">
				<div class="single_client template">
					<a href="#" class="client_link">
						<img src="#" class="client_list_avatar" title="">
					</a>
					<span class="client_name"></span>
				</div>
			</div>
			<div class="item">
				<section class="the_item">
					<img src="#" class="pictogram_image" title="">
					<h1 class="activity_title"></h1>
				</section>
				<section class="item_timers">
					<section class="item_time_digital">
						<div class="digital_clock template">
							<div class="hour"></div>
							<div class="minute"></div>
							<div class="second"></div>
						</div>
					</section>

					<section class="item_time_analogue">
						<ul class="analogue_clock template">
							<li class="hour"></li>
							<li class="minute"></li>
							<li class="second"></li>
						</ul>
					</section>
				</section>
			</div>
		</div>
	</section>
</section>